<div id="container-edit-profile-form">
  <h3>Edit your profile</h3>

  <%= render 'form', profile: @profile %>

  <div class="alternative-links">
    <%= link_to 'Return to your profile', @profile %>
  </div>
</div>
