<div id="checkout-container">
  <h2>Order completed</h2>
  <p>Thank you for your trust in Sould. Your order will be delivered under 2 days.</p>

  <div class="alternative-links continue-shopping">
    <%= link_to 'Continue shopping', :controller => :inventories %>
  </div>

</div>
