<!DOCTYPE html>
<html>
	<head>
		<title>Soulshop</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>

		<div class="container">

			<header>
			</header>

			<article>

				<div class="slideshow-container">
					<a href=""><img class="slides" src="assets/friend.jpg"></a>
					<a href=""><img class="slides" src="assets/commute.jpg"></a>
					<a href=""><img class="slides" src="assets/business.jpg"></a>
					<a href=""><img class="slides" src="assets/monk.jpg"></a>
					<a href=""><img class="slides" src="assets/old.jpg"></a>
					<a href=""><img class="slides" src="assets /finance.jpg"></a>
					<a href=""><img class="slides" src="assets/dreamer.jpg"></a>

					<div class="slide-text-container">
						<div class="slide-text">
							<h2>WELCOME TO SOULD SHOP</h2>
							<h4>The World's Largest Online Marketplace for New and Second-Hand Souls</h4>
							</br>
							<a href="/homepage.html.erb"><h4 id="CTA">START SHOPPING</h4></a>
						</div>
					</div>
				</div>
			</article>

		<!-- <footer>2018 &copy; Movie Reviews. All rights reserved.</footer> -->

		</div>

		<script>
			var slideIndex = 0;
			slideshow();
		</script>

	</body>

</html>
