<!DOCTYPE html>
<html>
	<head>
		<title>Soulshop</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div class="container">
			<div class="slideshow-container">
				<a href="/inventories/1"><img class="slides" src="/assets/backtoschool.jpg"></a>
				<a href="/inventories/2"><img class="slides" src="/assets/testimonials.jpg"></a>
				<a href="/inventories/3"><img class="slides" src="/assets/wequote.jpg"></a>

				<div class="slide-text-container">
					<a href="/inventories/4" class="slide-text">
						<h3>Back to School Arrivals</h3>
						<h4>Get the soul you need for the grades you deserve</h4>
					</a>
					<a href="/about" class="slide-text">
						<h3>Our clients love us!</h3>
						<h4>Nearly 40 years of thrive and trust</h4>
					</a>
					<a href="/contact" class="slide-text">
						<h3>We ship Souls all around the world</h3>
						<h4>Wherever you are, we will always make sure you get the right soul</h4>
					</a>
				</div>

			</div>
		</div>
		<br/>
		<script>
		var slideIndex = 0;
		slideshow();
		</script>
	</body>
</html>
