<!DOCTYPE html>

<html>

  <head>
    <title>Welcome Page</title>
    <!-- Define the character set to be UTF-8 -->
    <meta charset="UTF-8">
    <!-- Make the web site work on all devices and screen resolutions -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="welcome_style.css">
    <script src="slideshow.js"></script>
  </head>

  <body>

  <div class="container">

      <header>
      </header>

      <article>

        <div class="slideshow-container">
          <a href=""><img class="slides" src="assets/friend.jpg"></a>
          <a href=""><img class="slides" src="assets/commute.jpg"></a>
          <a href=""><img class="slides" src="assets/business.jpg"></a>
          <a href=""><img class="slides" src="assets/monk.jpg"></a>
          <a href=""><img class="slides" src="assets/old.jpg"></a>
          <a href=""><img class="slides" src="assets /finance.jpg"></a>
          <a href=""><img class="slides" src="assets/dreamer.jpg"></a>

          <div class="slide-text-container">
              <div class="slide-text">
                <h2>WELCOME TO SOULD SHOP</h2>
                <h4>The World's Largest Online Marketplace for New and Second-Hand Souls</h4>
                </br>
                <a href="/homepage.html.erb"><h4 id="CTA">START SHOPPING</h4></a>
              </div>
          </div>

        </div>
      </article>

      <!-- <footer>2018 &copy; Movie Reviews. All rights reserved.</footer> -->

    </div>

    <script>
      var slideIndex = 0;
      slideshow();
    </script>

  </body>

</html>
