/*
*Stylesheet for the Home page.
*27/05/2018
*/

/* DEFAULT STYLE OF HTML TAGS */
html {
  box-sizing:border-box;
  overflow-x:hidden;
  background: linear-gradient(180deg, #ababab 0%, #bababa 100%);
}

html, body {
  font-family: 'Nunito Sans', sans-serif;
  font-size:15px;
  line-height:1.5;
  margin:0;
  width: 100%;
}

h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

hr {
  border:0;
  border-top:1px solid #eee;
  margin:20px 0;
}


/* PAGE STYLE */
.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
}

/* header {
    width: 100%;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
} */

article {
    height: 100%;
}


/* STYLE THE SLIDESHOW */

.slides {
  width: 100%;
}

.slideshow-container {
    max-width:100%;
    margin:auto;
    position: relative;
    text-align: center;
}

.slide-text-container {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.85);
    overflow:hidden;
}

.slide-text {
  margin-top: 250px;
  color: #bebebe;
}

#CTA {
  color: #121212;
  width: 180px;
  margin: auto;
  background-color: #bebebe;
}

.slide-text-container a {
  text-decoration: none;
}

#CTA:hover {
  background-color: #999999;
}
