<!DOCTYPE html>

<html>

  <head>
    <title>Soulshop</title>
  	<%= csrf_meta_tags %>
  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <article>

        <h4>ABOUT US</h4>
        <div class="presentation">
          <p>Here at Sould, we strive to sell only the best quality second hand souls with no nasty surprises. We clearly lay out each souls mileage, karma rating and freshness. Using a complex pricing algorithm based on these values, we calculate the lowest price we can offer. Additionally, we pride ourselves on selling souls from all over and only accepting the industry standard currency of blood quartz. We have been in soul selling business since the 1980's and have had thousands upon thousands of satisfied customers.</p>
        </div>

        <h4>THE TEAM</h4>
        <div class="founders">
          <div class="col-left">
            <img src="/assets/user.png" alt="photo-shareholder">
            <h4>Anthony</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque erat nisi, eleifend facilisis turpis sollicitudin at.</p>
            <p><b>Estimated Soul Price:</b> qt. #<p>
          </div>

          <div class="col-right">
            <img src="/assets/user.png" alt="photo-shareholder">
            <h4>Bridget</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque erat nisi, eleifend facilisis turpis sollicitudin at.</p>
            <p><b>Estimated Soul Price:</b> qt. #<p>
          </div>

          <div class="col-left">
            <img src="/assets/user.png" alt="photo-shareholder">
            <h4>Przemek</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque erat nisi, eleifend facilisis turpis sollicitudin at.</p>
            <p><b>Estimated Soul Price:</b> qt. #<p>
          </div>

          <div class="col-right">
            <img src="/assets/user.png" alt="photo-shareholder">
            <h4>Stephen</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque erat nisi, eleifend facilisis turpis sollicitudin at.</p>
            <p><b>Estimated Soul Price:</b> qt. #<p>
          </div>

        </div>
      </article>
    </div>
  </body>
</html>
