<!DOCTYPE html>

<html>

  <head>
    <title>Soulshop</title>
  	<%= csrf_meta_tags %>
  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <article>

        <h4>ABOUT US</h4>
        <div class="presentation">
          <p>Here at Sould, we strive to sell only the best quality second hand souls with no nasty surprises. We clearly lay out each souls mileage, karma rating and freshness. Using a complex pricing algorithm based on these values, we calculate the lowest price we can offer. Additionally, we pride ourselves on selling souls from all over and only accepting the industry standard currency of blood quartz. We have been in the soul selling business since the 1980's and have had thousands upon thousands of satisfied customers.</p>
        </div>

        <h4>THE TEAM</h4>
        <div class="founders">
          <div class="col-left">
            <img src="/assets/at.png" alt="photo-shareholder">
            <h4>Anthony</h4>
            <p>Anthony is the head of our Blood Bank and in his off hours teaches werewolves how to use Linux. Unsuccessfully so far.</p>
            <p><b>Estimated Soul Price:</b> qt. #<p>
          </div>

          <div class="col-right">
            <img src="/assets/bd.jpg" alt="photo-shareholder">
            <h4>Bridget</h4>
            <p>Our Creature Resources Head Bridget enjoys betting on unicorn races with her cousins Ogopogo and Champ. She'll win someday damnit!</p>
            <p><b>Estimated Soul Price:</b> qt. #<p>
          </div>

          <div class="col-left">
            <img src="/assets/pz.jpg" alt="photo-shareholder">
            <h4>Przemek</h4>
            <p>Financial Head Przemek keeps our books balanced and our office filled with great smoothies. Enjoys being photographed by low quality cameras.</p>
            <p><b>Estimated Soul Price:</b> qt. #<p>
          </div>

          <div class="col-right">
            <img src="/assets/sp.jpg" alt="photo-shareholder">
            <h4>Stephen</h4>
            <p>When Chief Alternate Officer Stephen isn't testing the freshness of souls, he can be found teaching young children the value of a dollar.</p>
            <p><b>Estimated Soul Price:</b> qt. #<p>
          </div>

        </div>
      </article>
    </div>
  </body>
</html>
