// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Style for Sign up Form
#container-sign-up-form {
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 8px;
}

#sign-up-form {
  width: 70%;
  font-size: 18px;
  margin: auto;
  padding: 5px;
}

.text-field, .password-field {
  width: 90%;
  font-size: 12px;
  padding: 8px 10px;
}

.create-account-button {
  width: 98%;
  background-color: #82bbd1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff9999));
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-account-button:hover {
  background-color: #82bbd1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff6600));
}

.terms-and-conditions {
  font-size: 10px;
  margin-bottom: 10px;
}

.log-in-link {
    font-size: 12px;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}

// .two-col {
//   width: 80%;
//   height: 100%;
//   border: 1px solid yellow;
// }
//
// .two-col .col1, .two-col .col2 {
//     width: 40%;
//     margin: 20px;
//     border: 1px solid green;
// }
//
// .two-col .col1 {
//     float: left;
// }
//
// .two-col .col2 {
//     float: right;
// }


// Style for User Profile Page
#profile-container {
  margin: 5px 150px 5px 150px;
  padding: 0 20px 0 20px;
  height: 100%;
}

#profile-info {
  border-bottom: 1px solid #ccc;
  padding: 15px 0px 30px 0px;
}

#profile-container #profile-image {
  display: inline-block;
  width: 30%;
  text-align: center;
  vertical-align: top;
  // border: 1px solid green;
}

#profile-container #profile-detail {
  display: inline-block;
  width: 65%;
  padding-left: 6px;
  vertical-align: top;
  // border: 1px solid blue;
}

#profile-container #profile-detail h3 {
  font-size: 22px;
  color:#005ec3;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

.profile-detail-desc {
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  width:95%;
  margin-bottom: 10px;
}
